*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.menu{
    background-color: #7185fa;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    transition-duration: 500ms;
    cursor: pointer;
    text-decoration: none;
}

.menu a:hover {
    background-color: #484ad8;
    color: black;
    padding: 12px;
}

.content{
    margin-top: 60px;
    text-align: center;
    width: 100%;
}

h1{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

.content h1{
    text-align: center;
    border: 2px solid powderblue;
    padding: 30px;
}

.content button {
    background-color: hsl(300, 76%, 72%);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.image-map-container {
    position: relative;
    width: 400px; /* Ajusta el ancho según sea necesario */
    height: 379px; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    border: 1px solid #ccc; /* Añade un borde para visualizar mejor la caja */
}

.image-map-container img {
    width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}


.image-map-container area {
    position: absolute;
    display: block;
    pointer-events: none;
    transition: background-color 0.3s;
}

.image-map-container area:hover {
    background-color: rgba(69, 77, 75, 0.658);
}

.image-map-container area[shape="rect"] {
    top: 44px;
    left: 34px;
    width: 236px;
    height: 306px;
}

.image-map-container area[shape="rect"]:nth-of-type(2) {
    top: 172px;
    left: 290px;
    width: 43px;
    height: 78px;
}

.image-map-container area[shape="circle"] {
    top: 256px;
    left: 293px;
    width: 88px;
    height: 88px;
    border-radius: 100%;
}
